IPython
beautifulsoup4
crewai
chromadb<0.5.0
curtsies
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-search-results
langchain<0.2.0
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchainhub
langgraph
langsmith
matplotlib
pandas
pygraphviz
python-dotenv
tavily-python
